# the following are only for lambda_conversation_bot_vecdb
# chromadb==0.3.21
# tiktoken
# =====================

openai
pandas
numpy
langchain==0.0.148
scikit-learn==1.2.2
boto3
matplotlib
plotly
scipy
# google-api-python-client
pycld3